body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #F4F5F6;
    overflow-x: hidden;
}

.page-container {
    max-width: 1300px;
    margin: auto;
}  


/* Top Header Styling */
.top-header {
    background-color: #F72210;
    color: white;
    padding: 1% 2%;
    position: relative;
}

.location-weather {
    font-size: 15px;
}

.signup {
    float: right;
}

.login, .login:hover, .subscribe, .subscribe:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.login, .login:hover {
    color: white;
    margin: 1em
}

.subscribe, .subscribe:hover {
    color: black;
    padding: 5px 20px;
    background-color: #FFE400;
    border-radius: 40px;
    margin: 1rem;
}

.logo {
    position: absolute;
    right: 35%;
    top: 1%;
}

.logo-text {
    font-size: 5.5rem;
    font-family: "Bree Serif", 'Times New Roman', Times, serif;
}

.navbar-toggler {
    display: none;
}


/* Bottom Header Styling */
.bottom-header {
    position: relative;
    background-color: white;
}

.bottom-header::before {
    content: "";
    position: absolute;
    border-top: 1.5em solid #F72210;
    border-right: 5em solid #F72210;
    border-left: 0.9em solid transparent;
    right: 0;
    top: 0;
}

.bottom-header nav {
    padding: 1rem 1.5rem;
}


/* .top-nav .nav-link{ 
    border-left: 1px solid #F4F5F7;
} */

.nav-link {
    font-size: 19px;
    color: black;
    font-weight: 700;
    margin: 0 8px;
    
}

a.nav-link:hover {
    color: #F72210;
}

.top-nav form {
    position: absolute;
    left: 82%;
    width: 10%;
}

.top-nav input {
    width: 90px;
    padding: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-nav {
    border-top: 2px solid #F4F5F6;
    text-transform: uppercase;
    border-bottom: 2px solid #F4F5F6;
    padding-left: 1rem;
}

.bottom-nav .nav-link {
    font-size: 16px;
}

.bottom-nav a.nav-link {
    color: #777777;
}

.bottom-nav a.nav-link:hover {
    color: #F72210;
}



/* Main Content Styling */
main {
    background-color: white;
    padding: 1% 2.5%;
}

.section-heading {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.card {
    border-radius: 0;
    border: none;
    width: 100%;
}

.card-img-top  {
    border-radius: 0;
    width: 100%;
}

.card-body {
    padding: 20px 0;
    position: relative;
}

.card-body::before, .focus::before {
    color: #F72210;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: -40px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1;
}

.card-title:hover {
    text-decoration: underline;
    text-decoration-color: #F72210;
}

.card-text {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.news-cat::before {
    content: "NEWS";
}

.world-cat::before {
    content: "WORLD";
}

.us-cat::before {
    content: "U.S.";
}

.tech-cat::before {
    content: "TECH & SCIENCE";
}

.health-cat::before {
    content: "HEALTH";
}



/* Top Story Section Styling */
.faint-card .card-title {
    font-size: 16px;
    color: #818181;
}

.faint-card .card-title:hover {
    text-decoration: none;
}

.culture-row .card-body::before {
    content: "RHINO POACHING";
    color: #444444;
    padding: 5px;
    font-size: 13px;
    top: -30px;
}

.more-stories {
    border-top: 1px solid #AAAAAA;
}

.left-img {
    float: left;
    margin-right: 15px;
}

.right-img {
    float: right;
    margin-left: 15px;
}

.more-stories .card-title {
    font-size: 17px;
}

/* Blue Card Section */
.blue-card .card-body{
    padding: 15px;
    border: 0.5px solid #eee8e8;
    margin-bottom: 15px;
}

.blue-card .card-body::before {
    color: #3581F4;
    left: -1px;
}

.rank-cat::before {
    content: "RANKING";
}

/* Debate Section */
.debate {
    border-top: 5px solid #D9D9D9;
    border-bottom: 5px solid #D9D9D9;
    position: relative;
}

.debate img, .opinion img {
    border-radius: 100%;
    width: 70px;
}

.debate .card-title, .opinion .card-title {
    font-size: 17px;
}

.debate .card1 {
    border-bottom: 1px solid #D9D9D9;
}

.debate .card2 {
    border-top: 1px solid #D9D9D9;
    margin-top: 1px;
}

.card-author, .author {
    font-size: 14px;
}

.author {
    font-weight: 700;
}

.vs {
    position: absolute;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed",sans-serif;
    text-align: center;
    left: 45%;
    top: 42%;
}

/* Opinion Styling */
.opinion {
    margin-top: 20px;
}

.opinion .card {
    border-top: 1px solid #D9D9D9;
}

.opinion .card1 {
    border: none;
}

.opinion .card-body {
    padding: 0 auto;
}

.opinion p {
    margin: 0 auto;
}

.opinion .author {
    color: #555555;
}


/* Third Section */
.icon {
    padding: 5px 8px;
    font-weight: 700;
    color: white;
    background-color: #F72210;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

.magazine .section-heading, .editor .section-heading{
    font-size: 19px;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

hr {
    border: 1px solid #eee8e8;
    border-bottom: none;
}

/* Magazine Styling */
.magazine {
    height: 100%;
}
.magazine .card-title {
    font-size: 20px;
}

.magazine .card-subheading, .focus {
    margin-top: 15px;
}

.card-btn {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.card-btn:hover {
    background-color: #DBDCDD;
}

.magazine .issue-cat  {
    padding: 0;
}

.card-subheading {
    font-size: 16px;
    color: #F72210;
    font-weight: 700;
}

.magazine-cat {
    color: white;
    padding: 5px;
    background-color: #F72210;
    margin-right: 10px;
}

.magazine .card-body::before {
    font-size: 16px;
}

.issue-cat::before {
    content: "SEPTEMBER 18 ISSUE";
}

.focus {
    position: relative;
}

.focus::before {
    content: "IN FOCUS";
    top: -50px;
    background-color: #F72210;
    color: white;
    font-size: 15px;
}

/* U.S. Row */
.cat-heading {
    text-align: left;
    color: #F72210;
    font-size: 22px;
}

.us .card-body::before {
    content: "";
    background: none;
}

.third .more-stories {
    border-top: none;
}

.side-img {
    width: 80px;
}

.side-card-body {
    padding-top: 0;
    padding-bottom: 0;
}

/* Subscribe Row */
.cta {
    border-top: 2px solid #F4F5F6;
    background-color: white;
    padding: 28px;
    border-bottom: 2px solid #F4F5F6;
}
.fourth .cat-heading {
    font-size: 16px;
}

.subscribe-row {
    background-color: #F4F5F6;
    padding: 48px 20px;
    margin: 2px;
}

.img-container {
    position: relative;
}

.over-img {
    position: absolute;
    top: 10px;
    left: 100px;
}

.subscribe-text {
    width: 85%;
    margin-left: 75px;
}

.subscribe-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.subscribe-text p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.fourth .btn {
    font-size: 18px;
    padding: 5px 10px;
    color: white;
    background-color: #F72210;
    margin-top: 20px;
    font-weight: 700;
}

/* Newsletter Row Styling */
.newsletter {
    border: 1px solid #F4F5F6;
}

.newsletter .card-body {
    padding: 20px;
    text-align: left;
}

.newsletter .card-title {
    font-size: 24px;
}

.newsletter .card-text {
    text-align: left;
}

form {
    width: 100%;
}

input[type=email] {
    width: 100%;
    border: 1px solid #F4F5F6;
    border-radius: 10px;
    padding: 5px;
}


/* Footer Styling */
footer {
    background-color: white;
    padding: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.top-footer .logo-text, .copyright {
    display: inline;
}

footer .logo-text {
    color: #F72210;
    font-size: 3rem;
    font-weight: 700;
}

.footer-icons {
    float: right;
}

.footer-icon {
    background: none;
    color: #777777;
    font-size: 24px;
    padding: 0;
    margin: 0 5px;
}

.copyright {
    font-size: 12px;
}

.bottom-footer {
    font-size: 14px;
}

.edition-text {
    font-weight: 700;
    display: inline;
}

.edition-list, .privacy {
    list-style-type: none;
    padding: 0;
}

.edition-list {
    display: inline;
}

.edition-item, .privacy-item {
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #aaaaaa;
    line-height: 2;
    cursor: pointer;
}

.edition-item:hover, .privacy-item:hover {
    color: black;
}

.last-item {
    border-right: none;
}



/* Media Queries*/
@media (max-width: 992px) {
    
    .location-weather, .date {
        display: none;
    }

    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .signup, .signup-col {
        display: inline;
    }
    
    .head-logo {
        font-size: 24px;
    }

    .navbar-toggler {
        display: unset;
    }

    .bottom-header {
        background: white;
        border: none;
    }

    .bottom-header::before {
        display: none;
    }

    .nav-item {
        border: none;
    }

    .top-nav form {
        position: static;
    }
}